<article class="clearfix">
	<h2>The Value Of Money.</h2>
	<figure>
		<img src="img/coins.jpg" alt="Article-1">
		<figcaption>The Value Of Money</figcaption>
	</figure>
	<p>In todays world we all know how to measure goods that we buy, and everyone has the answer and that is “money”, so it is safe to say we can measure goods by money, but on the other hand the question is how do we measure money?<br> And the answer to that question is “goods”, and to explain that lets see the definition of value, value is the ratio of exchange between two goods, and the value of the money is measured by price. So, money is considered as the item of desire, people gather money, they don’t use money as is, they use money to buy goods.<br> So, the value of money would be the amount of goods we can buy with one unit of money. When the price level rises that same unit of money can buy less amount of same goods and that is what we call Money has depreciated. -- (Seth, T).</p>
</article>

<div class="other">

	<article class="cleafix">
		<h2>The GMO Food.</h2>
		<figure>
			<img src="img/fruits.jpg" alt="Article-1">
			<figcaption>The GMO Food.</figcaption>
		</figure>
		<p>Whenever we think of food and from where does it come to us, the first thought that goes through our mind is a farmer, working hard in his fields growing vegetables, nurishing it, watering it, taking good care of it, so that we can have a good healthy life.<br> But have you ever condidered that is it the only way to do so? No, it is not, the answer to that is GMO foods, GMO means Genitically Modified Organisms.<br> GMO foods is refered to any thing that we can eat and has a DNA in it, plant and animals. Any of those food when gets there DNA altered using genetic enginering would be considered as GMO foods.<br> These GMO foods were invented to get more from the foods then ever, normal foods were geneticaly targeted to increase the immune system of the plants and animals against any diseases or peracites and once that was solved these enginears started to trying to get more food from the same item. – (Shephard, S.)

		</p>
	</article>

	<article class="clearfix">
		<h2>The View Of World In 2100.</h2>
		<figure>
			<img src="img/tech.jpg" alt="Article-1">
			<figcaption>The View Of World In 2100</figcaption>
		</figure>

		<p>Talking about future, it is not a new thing to human kind, almost everyone does it. Some people do it on a large scale and some on a small scale but most of us do that. The thing to observe is no one thinks of the past, even if they did they think of it as a bad thing and in a negative way, no one bothers to think of both the times simultaneously as how better we are as compared to the past and today and how amazing we are going to be in future.<br>
		Like, if you would have asked someone 50 years ago about video chat with someone else who lives on the other side of the world? I am pretty sure they would have laughed at your face and told you that you sound silly.
		But it we look at all the stuff that we have achieved so far, I am sure again that you would feel so happy that you got all these things.<br>
		And if we think of the world in 2100 and how much we will be able to achieve it make me excited just to think about it. -- (Report, P.S.)


		</p>
	</article>
</div>